
<div class="page-container">
    <div class="sidebar">
        <div class="list-item">
            <div class="list-items"><a routerLink="/content">India</a></div>
            <div class="list-items"><a routerLink="/content-two">America</a></div>
            <div class="list-items"><a routerLink="/content">Rusia</a></div>
            <div class="list-items"><a routerLink="/content">England</a></div>
            <div class="list-items"><a routerLink="/content">China</a></div>
        </div>

    </div>

    <div class="content-page">
        <router-outlet></router-outlet>
    </div>
</div>