.page-container{
    display: flex;
    height: 100%; 
    background-color: rgb(237, 239, 243);
   
}
.sidebar{
    height: 100%; 
    width: 300px;
    background:rgba(32, 31, 31, 0.2); ;
}
.list-item{
    font-size: 18px;
    color: white;
    padding: 10px 20px;
}
.list-items{
    margin-top: 50px;
}
.content-page{
    padding: 50px;
    overflow: auto;
}
a{
    text-decoration: none;
    color: white !important;;
}
