
*{
  padding: 0;
  margin: 0;
  color: #FFF;
  
}
.main{
  overflow: auto;
}

.container{
  overflow: hidden;
  z-index: 10;
  position: relative;
  margin-bottom: 3%;
  height: 90px;
  width: 300px;
  background-color: #F17022;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}


/*  BACKGROUND  */

.Circle1{
  z-index: 100;
  position: absolute;
  height: 80px;
  width: 80px;
  right: -20px;
  top: -30px;
  border-radius: 50%;
  background-color: rgba(253,184,19,1);
  animation: enlarge;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.Circle2{
  z-index: 80;
  position: absolute;
  height: 150px;
  width: 150px;
  right: -50px;
  top: -70px;
  border-radius: 50%;
  background-color: rgba(246,140,31,0.7);
  
  animation: enlarge;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.Circle3{
  z-index: 50;
  position: absolute;
  height: 200px;
  width: 200px;
  right: -50px;
  top: -100px;
  border-radius: 50%;
  background-color: rgba(241,125,45,0.7);
  
  animation: enlarge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}



/*  CONTENT  */

.sun{
  z-index: 1000;
  font-size: 15px !important;
}

.Condition{
  z-index: 1000;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 20px;
  left: 20px;  
  top: 10px;
}

.Temp{
  z-index: 1000;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  left: 20px;
  bottom: 5px;
}

#F{
  z-index: 1000;
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-size: 30px;
}


.Time{
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 200;
  right: 20px;
  top: 10px;
}

.locationIcon{
  z-index: 1000;
  font-size: 10px !important;
}

.Location{
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 200;
  right: 20px;
  bottom: 15px;
}

@keyframes enlarge{
  50%{
      transform: scale(1.2);
  }
}