
<div class="row" >
    <div class="col-md-4" *ngFor="let eachData of data">
        <div class="container">
            <div class="background">
              <div class="Circle1"></div>
              <div class="Circle2"></div>
              <div class="Circle3"></div>
              <div class="content">
                <h1 class="Condition"><i class="material-icons sun">wb_sunny</i>{{eachData?.weather[0]?.main}}</h1>
                <h1 class="Temp">{{eachData?.main?.temp}}<span id="F"></span></h1>
                <h1 class="Time">09:35</h1>
                <h1 class="Location"><i class="material-icons locationIcon">place</i> {{eachData?.name}}</h1>
              </div>
            </div>
    </div>
</div>