<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div> <a class="navbar-brand" routerLink="/">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
          </a></div>
        
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a  routerLink="/" class="nav-link">Login</a></li>
            <li><a  routerLink="/" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>