/* You can add global styles to this file, and also import other style files */
@import url(https://www.w3schools.com/w3css/4/w3.css);
@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);
html, body{
    height: 100%;
    margin: 0;
} 